<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Django</title>
  </head>
  <body>
    <nav>
      <ul
        style="
          display: flex;
          list-style: none;
          font-size: 30px;
          justify-content: space-between;
        "
      >
        <a href="/" style="color: black; text-decoration: none">
          <li>Learning Django</li></a
        >

        {% if request.user.is_authenticated %}
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li>
          <a style="text-decoration: none; color: green" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <form action="/search/">
      <input type="text" name="q" />
      <input type="submit" />
    </form>
    <hero> {% block content %} empty{% endblock content %} </hero>
  </body>
</html>
